<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>notification</title>
        <link rel="stylesheet" href="/css/mypage/notification.css" />
    </head>
    <body>
        <div id="wrap">
            <section id="container">
                <h1 class="skip">개인회원 서비스</h1>

                <section class="content">
                    <div class="contWrap alarmCont">
                        <input type="hidden" value="5" id="js-AlarmTotalCnt" />
                        <div class="hdWrap">
                            <h2 class="hd_1">수신 알림</h2>
                            <p class="noti">
                                최근 30일간 보낸 알림만 확인할 수 있습니다.
                            </p>
                            <div class="alarmSort">
                                <span class="selWrap">
                                    <select
                                        data-val="true"
                                        id="sortSel"
                                        name="Ts_Type"
                                        title="수신 알림 선택"
                                    >
                                        <option selected="selected" value="0">
                                            전체 알림
                                        </option>
                                        <option value="5">체험 진행 현황</option>
                                        <option value="9">QnA</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <section class="alarmListWrap">
                            <h3 class="skip">수신 알림 리스트</h3>
                            <div id="js-alarmFrame">
    <div th:if="${notifications == null or #lists.isEmpty(notifications)}" class="alarmList">
        <div class="hd">알림이 없습니다.</div>
    </div>

    <div class="alarmList" th:each="notification : ${notifications}">
        <div class="hd">
            <span class="tahoma" th:text="${notification.notificationReceiveAt}">-</span>
        </div>
        <article class="cont">
            <ul>
                <li th:classappend="${notification.notificationIsRead} ? ' read' : ''" class="type_red">
                    <span class="update" th:text="${notification.notificationReceiveAt}">-</span>
                    <div class="box">
                        <div class="desc">
                            <span class="state" th:text="${notification.notificationType}">type</span>
                            <strong class="title" th:text="${notification.notificationTitle}">title</strong>
                            <p class="answer" th:text="${notification.notificationContent}">content</p>
                        </div>
                        <button type="button" class="btn-read-notification"
                                th:unless="${notification.notificationIsRead}"
                                th:data-id="${notification.id}">읽음</button>
                    </div>
                </li>
            </ul>
        </article>
    </div>
</div>
                        </section>
                    </div>
                </section>
                <!--// Lnb Area -->
                <!-- 사이드바 시작 -->
                <section class="secLnb">
                    <h1 class="skip">개인회원 서비스 메뉴</h1>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">
                            <a href="/mypage/mypage">개인회원 홈</a>
                        </h2>
                    </div>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">이력서/경력 관리</h2>
                        <ul>
                            <li>
                                <a href="" target="_blank"
                                    >이력서/경력 등록</a
                                >
                            </li>
                            <li>
                                <a href="">첨부파일 관리</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnbGroup">
                        <h2 class="lnbTit">체험 진행 관리</h2>
                        <ul>
                            <li>
                                <a href="/mypage/experience">체험 진행 현황</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lnbGroup">
                        <h2 class="lnbTit">스크랩</h2>
                        <ul>
                            <li>
                                <a href="">스크랩 공고</a>
                            </li>

                            <li>
                                <a class="on" href="/mypage/notification">MY 알림</a>
                            </li>
                        </ul>
                    </div>

                    <div class="lnbGroup">
                        <h2 class="lnbTit">회원정보 관리</h2>
                        <ul>
                            <li>
                                <a href="/mypage/change-my-information">회원정보 수정</a>
                            </li>
                            <li>
                                <a href="">비밀번호 변경</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- 사이드바 끝 -->
                <!-- Lnb Area //-->
            </section>
        </div>
    </body>
    <script src="/js/mypage/notification.js"></script>
</html>
