<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/css/corporate/footer.css">
</head>
<body>
    <div id="wrap">
        <!-- footer -->
        <div id="footer">
            <div class="inner clear">
                <p class="tcLogo">
                    <a href="/">
                        <img src="/static/images/logo.png">
                    </a>
                </p>
                <div class="footerWrap">
                    <div class="footerCont clear">
                        <div class="tcNotice">
                            <h3>
                                <a href="">공지사항</a>
                                <!-- onclick -->
                            </h3>
                            <p>
                                <a href="">TRY-CATCH 개인정보처리방침 개정 안내</a>
                                <!-- onclick -->
                                <!-- 새로고침할 때마다 텍스트 바뀜 -->
                                <em> 25.12.09</em>
                            </p>
                        </div>
                        <div class="tcPolicy">
                            <ul>
                                <li>
                                    <a href="">회사소개</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">광고문의</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">제휴문의</a>
                                </li>
                                <li>
                                    <a href="" target="_blank">이용약관</a>
                                </li>
                                <li>
                                    <a href="" target="_blank"><strong>개인정보처리방침</strong></a>
                                </li>
                                <li>
                                    <a href="" target="_blank"><strong>위치기반서비스이용약관</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tcHelp">
                        <dl class="first">
                            <dt>고객센터</dt>
                            <dd>1234-5678</dd>
                            <dd>(평일 09:00 ~ 19:00 토요일 09:00 ~ 15:00)
                            </dd>
                        </dl>
                        <dl>
                            <dt>FAX</dt>
                            <dd>02-111-1111</dd>
                        </dl>
                        <dl>
                            <dt>Email</dt>
                            <dd>
                                <a href="">test@.com</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <p class="copyright">Copyright ⓒ <strong><a href="" target="_blank">TRY-CATCH</a></strong> LLC. All Right Reserved.</p>
            </div>
        </div>
        
    </div>
</body>
</html>