server:
  port: 10000

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/try_catch?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: TRY-CATCH
    password: 1234

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.app.trycatch.domain; com.app.trycatch.dto;
  type-handlers-package: com.app.trycatch.mybatis.handler
