* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif !important;
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/font/Pretendard-Regular.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/font/Pretendard-SemiBold.subset.woff2") format(woff2);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/font/Pretendard-Bold.subset.woff2") format(woff2);
}

label {
    cursor: pointer;
    vertical-align: middle;
}

address, caption, em {
    font-weight: normal;
    font-style: normal;
}

img {
    border: 0 none;
    vertical-align: top;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, button, p, table, th, td {
    padding: 0;
    margin: 0;
}

table, th, td, input, button {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 0 none;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

select, input, option, textarea {
    vertical-align: middle;
    font: 12px Pretendard;
}

input, select, button {
    vertical-align: middle;
}

button {
    overflow: visible;
    background: transparent;
    cursor: pointer;
}

input.ipText {
    height: 30px;
}

input.ipText, textarea.ipTextarea, select.ipSelect {
    border: 1px solid #999;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    color: #666;
}

form, fieldset, iframe, button {
    border: 0 none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

.skip, .blind, legend {
    position: absolute;
    top: -5000em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

#header {
    position: relative;
    text-align: left;
    z-index: 1000;
    zoom: 1;
}

#header {
    position: relative;
    background: url(/images/bg_mn_mbr_1_006e3f.gif) repeat-x left 65px;
    zoom: 1;
    height: 110px;
}

.gnbWrap, .gnbWrapCo {
    text-align: center;
    position: relative;
    z-index: 10000;
}

.gnbWrap * {
    margin: 0;
    padding: 0;
}

.gnbWrap h1, .gnbWrap h2, .gnbWrap h3, .gnbWrap h4 {
    font-weight: normal;
    font-size: 100%;
}

.gnbWrap #skipNavigation, .gnbWrap .blind, .gnbWrap .skip {
    position: absolute;
    top: -5000em;
    width: 0px;
    height: 0px;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

#gnb h2 {
    position: absolute;
    top: 33px;
    left: 156px;
    width: 1px;
    height: 18px;
    background: #d7dce5;
    display: block !important;
}

#gnb h2.skip {
    position: absolute;
    top: -5000em;
    width: 1px;
    height: 1px;
}

.mbrSubJoin #header .lnb, .mbrSubMng #header .lnb {
    position: absolute;
    right: -7px;
    top: 46px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 15px;
    margin-right: -1px;
    overflow: hidden;
}

.gnbWrap li {
    list-style: none;
}

.mbrSubJoin #header .lnb li, .mbrSubMng #header .lnb li {
    float: left;
    padding: 0 7px;
    margin-left: -1px;
    background: url(/images/bg_bar.gif) no-repeat left 1px;
}

.mbrSubJoin #header .lnb a, .mbrSubMng #header .lnb a {
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 15px;
    color: #888;
}

.gnbWrap img {
    border: 0 none;
    vertical-align: top;
}

a, a:link, a:visited {
    color: #666;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #7BA882;
}

#header h1 .logo, #header h1 .bar {
    display: inline;
    float: left;
}

#header h1 .bar {
    position: relative;
    width: 1px;
    height: 19px;
    margin: 13px 0 0 7px;
    background: #dfe1e3;
}

#header h1 .title {
    position: absolute;
    left: 11px;
    top: -1px;
}

.gnbWrap h1, .gnbWrap h2, .gnbWrap h3, .gnbWrap h4 {
    font-weight: normal;
    font-size: 100%;
}

#gnb h1 {
    position: absolute;
    top: 20px;
    left: 10px;
}

#gnb, #location, #topWrapAd {
    width: 890px;
    margin: 0 auto;
    z-index: 1001;
}

#gnb {
    width: 890px;
    font-family: Gulim, sans-serif;
    padding-top: 69px;
    position: relative;
    z-index: 500;
    margin: 0 auto;
    text-align: left;
    _height: 0;
}

#header #gnb {
    width: 960px;
    margin: 0 auto;
}

.secNav {
    position: relative;
}

.secNav li {
    display: inline;
    float: left;
    position: relative;
    height: 32px;
    margin-right: 2px;
    zoom: 1;
    overflow: hidden;
}

.gnbWrap_mMng .secNav li {
    float: left;
    position: relative;
    display: inline;
    padding-right: 3px;
    text-align: center;
    background: url(/images/bg_bar_mn_mbr_006e3f.gif) no-repeat;
    color: #fff;
}

.mbrSubMngGG .gnbWrap_mMng .secNav li {
    background-position: right -190px;
}

.gnbWrap_mJoin .secNav li.end, .gnbWrap_mSearch .secNav li.end, .gnbWrap_mMng .secNav li.end {
    background: none;
    padding-right: 0;
    margin-right: 0;
}

.gnbWrap_mMng .secNav li.mn2 {
    margin-right: 3px;
}

.gnbWrap_mMng .secNav li a {
    float: left;
    display: inline;
    margin: 0 -1px;
    padding-top: 16px;
    height: 32px;
    box-sizing: border-box;
    position: relative;
    font-size: 11px;
    letter-spacing: 0px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.gnbWrap_mMng .secNav li.mn1 a {
    width: 138px;
}

.gnbWrap_mMng .secNav li.mn2 a {
    width: 138px;
}

.gnbWrap_mMng .secNav li.mn3 a {
    width: 110px;
}

.gnbWrap_mMng .secNav li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mbrSubMngGG .gnbWrap_mMng .secNav li span {
    background: url(/images/text_gnb_mbr_mng_gg_006e3f.gif) no-repeat;
}

.gnbWrap_mMng .secNav li.mn1 span {
    background-position: 0 -63px;
}

.mbrSubMngInfo .gnbWrap_mMng .secNav li.mn1 span, .mbrSubMngPwdOk .gnbWrap_mMng .secNav li.mn1 span {
    background-position: 0 -3px;
}

.gnbWrap_mMng .secNav li.mn2 span {
    background-position: -158px -63px;
}

.gnbWrap_mMng .secNav li.mn3 span {
    background-position: -318px -63px;
}

.mbrSubMngLeave .gnbWrap_mMng .secNav li.mn3 span {
    background-position: -318px -3px;
}

#wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    text-align: left;
    z-index: 900;
    zoom: 1;
}

#container {
    position: relative;
    width: 960px;
    min-height: 400px;
    padding: 0;
    z-index: 800;
    zoom: 1;
}

#content {
    position: relative;
    margin-top: 32px;
    z-index: 800;
    zoom: 1;
}

#secMbr #content .mbrHeading2 {
    margin-bottom: 11px;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #4b4b4b;
}

.mbrTplDesc {
    margin-bottom: 10px;
}

.mbrSubMngInfo .mbrTplDesc {
    float: left;
}

.mbrTplDesc p {
    padding: 2px 0 2px 7px;
    background: url(/images/mbr_tpl_icon_1.gif) no-repeat 0 -34px;
    line-height: 1.4;
    color: #767676;
}

.mbrSubMngInfo .mbrTplData2 {
    clear: both;
}

.mbrTplData2 table {
    border-top: 2px solid #777a83;
    border-bottom: 1px solid #dce1eb;
    width: 100%;
    background: #fff;
    table-layout: inherit;
}

.mbrTplData2 table th, .mbrTplData2 table td {
    height: 35px;
    border-top: 1px solid #e5e5e5;
    vertical-align: middle;
}

.mbrTplData2 table th {
    padding: 8px 0 8px 23px;
    background-color: #f9f9f9;
    color: #333;
    text-align: left;
}

.mbrSec .mbrTplData2 table th .blank {
    display: inline-block;
    width: 14px;
}

.policy-table th, td {
    border: 1px solid #eaeaea;
}

.mbrTplData2 table th, .mbrTplData2 table td {
    height: 35px;
    border-top: 1px solid #e5e5e5;
    vertical-align: middle;
}

.mbrTplData2 table td {
    padding: 5px 0 5px 16px;
    word-wrap: break-word;
}

.mbrTplData2 tr td {
    position: relative;
}

.mbrSec .mbrTplData2 table td .fbTxt {
    margin-left: 10px;
    font-size: 11px;
    letter-spacing: 0px;
}

.social_row .socialIcn {
    display: none;
}

.mbrHelpWrap {
    position: relative;
}

.mbrTplData2 table td .assist {
    margin-top: 7px;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: normal;
    color: #767676;
}

.mbrTplData2 table td span.assist {
    display: inline-block;
    margin-left: 5px;
}

.mbrMngInfo .mbrTplData2 .chgRealName {
    margin-left: 45px;
}

.mbrBtn, .mbrBtn button, .mbrBtn input, .mbrBtn a {
    display: inline-block;
}

.mbrBtn a {
    width: 100%;
    padding-top: 50px;
}


.mbrBtn {
    height: 21px;
    background: url(/images/mbr_tpl_btn_1_006e3f.gif) no-repeat 0 0;
    overflow: hidden;
    vertical-align: middle;
}

.mbrBtnChange_1 {
    width: 51px;
    height: 21px;
    background-position: -92px -295px;
}

.mbrBtn button {
    width: 100%;
    height: 100%;
}

.mbrBtn button span {
    position: absolute;
    top: -9999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.mbrTplLayer {
    position: absolute;
    background-color: #fff;
    text-align: left;
    z-index: 2000;
}

.mbrTplLayer_1 {
    border: 1px solid #565656;
    font-weight: normal;
}

.mbrHelpWrap .mbrLayerHelp {
    position: absolute;
    top: 1px;
}

.mbrTplLayer_1 .desc {
    margin: 2px;
    padding: 5px 8px 2px 8px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 1.4;
}

.mbrTplLayer .arrow {
    overflow: hidden;
    position: absolute;
    left: -4px;
    top: 9px;
    width: 4px;
    height: 7px;
    background: url(/images/mbr_tpl_icon_1.gif) no-repeat left -165px;
}

select.ipSelect {
    height: 30px;
    padding: 5px 5px 5px 2px;
}

.mbrHelpWrap .mobile input.ipText.ipTel.ipNum {
    width: 125px;
}

input.ipText, textarea.ipTextarea, select.ipSelect {
    border: 1px solid #999;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    color: #666;
}

.mbrSec .mbrTplData2 table td .birth {
    padding: 7px 0 0 250px;
}

.mbrSec .mbrTplData2 table td .birth label {
    margin-right: 10px;
}

.mbrSec .mbrTplData2 table td.contact .tel, .mbrSec .mbrTplData2 table td.contact .mobile {
    clear: both;
    overflow: hidden;
}

.mbrSec .mbrTplData2 table td.contact label, .mbrSec .mbrTplData2 table td.contact input, .mbrSec .mbrTplData2 table td.contact select, .mbrSec .mbrTplData2 table td.contact .delimiter {
    float: left;
}

.mbrSec .mbrTplData2 table td.contact label {
    width: 55px;
    padding-top: 8px;
}

.mbrSec .mbrTplData2 table td.contact .delimiter {
    padding: 6px 3px;
}

#content .mbrBtnFunc {
    margin-top: 38px;
    text-align: center;
}

.mbrBtnModify_1 {
    width: 99px;
    height: 49px;
    background-position: -641px -117px;
}

.mbrBtnCancel_1 {
    width: 88px;
    height: 49px;
    background-position: -708px 0;
}

#content:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

#container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
a.kakao {
    display: none;
    width: 24px;
    height: 24px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvX3Nuc19rYWthb180MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgNDAgNDAiPg0KICA8ZGVmcz4NCiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+DQogICAgICA8cmVjdCBpZD0i7IKs6rCB7ZiVXzIyNCIgZGF0YS1uYW1lPSLsgqzqsIHtmJUgMjI0IiB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiLz4NCiAgICA8L2NsaXBQYXRoPg0KICA8L2RlZnM+DQogIDxnIGlkPSLqt7jro7lfMjgzIiBkYXRhLW5hbWU9Iuq3uOujuSAyODMiIGNsaXAtcGF0aD0idXJsKCNjbGlwLXBhdGgpIj4NCiAgICA8cGF0aCBpZD0i7Yyo7IqkXzU1IiBkYXRhLW5hbWU9Iu2MqOyKpCA1NSIgZD0iTTQwLDIwQTIwLDIwLDAsMSwxLDIwLDAsMjAsMjAsMCwwLDEsNDAsMjAiIGZpbGw9IiNmZWU1MDAiLz4NCiAgICA8cGF0aCBpZD0i7Yyo7IqkXzU2IiBkYXRhLW5hbWU9Iu2MqOyKpCA1NiIgZD0iTTE1LDYuMjVjLTUuMjQzLDAtOS40OTMsMy4zLTkuNDkzLDcuMzY5YTcuMDk0LDcuMDk0LDAsMCwwLDQuMTQ4LDYuMDg5TDguNiwyMy41NzNhLjM4Ny4zODcsMCwwLDAsLjI4MS40NzEuMzgxLjM4MSwwLDAsMCwuMzEzLS4wNTVsNC42MjItMy4wNmMuMzkxLjAzNi43ODYuMDU5LDEuMTkuMDU5LDUuMjQxLDAsOS40OTMtMy4zLDkuNDkzLTcuMzY5UzIwLjI0NCw2LjI1LDE1LDYuMjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQuOTk3IDUuNzUpIi8+DQogIDwvZz4NCjwvc3ZnPg0K) no-repeat center center;
    background-size: contain;
    vertical-align: middle;
    margin-left: 8px;
    text-indent: -9999px;  /* 텍스트 숨김 */
    overflow: hidden;
}