<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.trycatch.mapper.member.MemberMapper">
    <insert id="insertOauth">
        insert into tbl_oauth(id, provider)
        values(#{id}, #{provider})
    </insert>


    <insert id="insertIndividual" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member (member_id, member_password,  member_gender, member_name, member_email, member_phone, member_agree_privacy, member_agree_marketing)
        values (#{memberId}, #{memberPassword}, #{memberGender}, #{memberName} , #{memberEmail} , #{memberPhone} , #{memberAgreePrivacy}, #{memberAgreeMarketing})
    </insert>

    <insert id="insertCorp" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_member (member_id, member_password,member_name,member_phone, member_email,address_id, member_agree_privacy, member_agree_marketing)
        VALUES (#{memberId}, #{memberPassword}, #{memberName} , #{memberPhone} , #{memberEmail}, #{addressId}, #{memberAgreePrivacy}, #{memberAgreeMarketing})
    </insert>
</mapper>